
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header">

</head>

<body>
	<div th:insert="headerImage"></div>

	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>
	<script src="./js/crypto-js.min.js"></script>

	<div class="container-fluid header-design-login">
		<div class="row justify-content-center align-items-center"
			style="height: 10vh;">
			<div class="webland-container" style="padding-top: 15px;">
				<div class="card ecropCard">

					<div class="card-title">
						<h5 style="text-align: center;">Update Profile</h5>
					</div>

					<div class="card-body" style="padding: 10px;">
						<form id="f2" name="f2" th:action="@{/updateProfiles}" method="post"
							onsubmit="return confirm()">
							<div id="popupMessage" th:if="${msg != null}" class="alert alert-success">
								<p th:text="${msg}"></p>
							</div>

							<div class="form-group row" th:style="'font-weight: bold;'">

								<div class="col-sm-6">
									<span th:text="'UserId:'+${userid}"></span>
								</div>


								<div class="col-sm-6">
									<span th:text="'Role: ' + ${role}">role:</span>
								</div>


<!-- 								<div class="col-sm-5"> -->
<!-- 									<span th:text="'District: ' + ${district}"></span> -->
<!-- 								</div> -->
							</div>
							<div class="form-group row">
								<label for="empcode" class="col-sm-4 col-form-label">
									Name</label>
								<div class="col-sm-8">
									<input type="text" id="name" name="name" class="form-control"
										required th:value="${userDetails.name}">
								</div>
							</div>

							<div class="form-group row">
								<label for="email" class="col-sm-4 col-form-label">Email</label>
								<div class="col-sm-8">
									<input type="email" id="email" name="email"
										class="form-control" required
										th:value="${userDetails.emailid}">
								</div>
							</div>

							<div class="form-group row">
								<label for="mobile" class="col-sm-4 col-form-label">Mobile</label>
								<div class="col-sm-8">
									<input type="text" data-type="mobileNo" name="mobile" id="mbNo"
										minlength="10" maxLength="10"
										th:attr="onChange='isNumberKey()'" required
										th:value="${userDetails.mobile_phone}" class="form-control">
								</div>
							</div>
							<div class="form-group row">
								<label for="aadhaar" class="col-sm-4 col-form-label">Aadhaar</label>
								<div class="col-sm-8">
									<input type="password" data-type="aadhaar" id="aadhaar"
										name="aadhaar" maxLength="12" class="form-control"  required
										th:value="${userDetails.aadhaar_id}" >.
<!--										<input type="hidden" id="tempid" name="tempid">-->
										
										
								</div>
							</div>



					<div  th:if="${session.role} ==30" class="mb-3 form-group">
						<label  style="padding-left: 14%;"><b>Regular/Incharge :</b></label>
						<select id="inchargeSts" name="inchargeSts" class="form-control custom-select" 
						style="width: 50%;" required>
							<option value="" disabled selected>Select Incharge Status</option>
							<option value="I" >Incharge</option>							
							<option value="R" >Regular</option>
						</select>
					</div>

							<div class="row">
								<div class="col-md-12">
									<div style="margin: 0 auto; width: 155px; color: #000;">
										<button  class="btn btn-primary" id="add"
											title="Profile update" onclick="last()">Submit</button>
<!-- 										<button type="button" class="btn btn-warning" id="resetId" -->
<!-- 											th:onclick="window.location.href='/updateProfiles'">Reset</button> -->
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>




</body>
 
    
       <script>
        function maskInput(input) {
            let value = input.value;
            // Mask the input value by replacing each character with '*'
            input.value = "*".repeat(value.length);
        }
function last(){
	 var aadar= document.getElementById("aadhaar").value;

	// document.getElementById("tempid").value=aadar;
	 
	if(validateVerhoeff(aadar)){
            var aadhaarInput = document.getElementById('aadhaar');
            var aadhaarValue = aadhaarInput.value;
            var niep = "";

    for (var i = 1; i < aadhaarValue.length; i += 2) {
        niep += aadhaarValue.charAt(i); 
        
    } 
    var randomNumber = Math.random();

   aadhaarValue=+niep+aadhaarValue+randomNumber;
   
  var edata=encryptAndSend(aadhaarValue);

            var encodedAadhaar = btoa(edata); 
            
            aadhaarInput.value = encodedAadhaar;
             // Setting the encoded value back to the input field
/*        document.getElementById("f2").addEventListener("submit", function(event) {
            // Prevent the default form submission behavior
            event.preventDefault();
            // Retrieve the original unmasked value
//            let originalValue = document.getElementById("aadhaar").value;
				var encrypt = btoa(aadar)
//				document.getElementById("aadhaar").val(encrypt)
				$("#orgextentLabelOE").val(encrypt);
            // Create a FormData object to send data to server
            let formData = new FormData();
            formData.append("aadhaar", encrypt);

            // You can send the formData using fetch or XMLHttpRequest to your server
            // Example using fetch:
            fetch("/updateProfiles", {
                method: "POST",
                body: formData
            }).then(response => {
                // Handle response from server if needed
            }).catch(error => {
                console.error("Error:", error);
            });
        });									*/
        }
        else{
			alert('Please enter valid aadhaar number')
			event.preventDefault();
			return false;
		}
        }
        
 
    function encryptAndSend(input) {
        var inputData = input
        var encryptedData = encryptData(inputData); // Encrypt the data
        //alert("Encrypted data: " + encryptedData); 
        return encryptedData;// For demonstration
    }

  function encryptData(inputData) {
    var key = CryptoJS.enc.Utf8.parse('1234567890123456'); // 16-byte key for AES

    var encrypted = CryptoJS.AES.encrypt(inputData, key, {
        mode: CryptoJS.mode.ECB, // Electronic Codebook mode
        padding: CryptoJS.pad.Pkcs7 // Padding scheme
    });
    return encrypted.toString();
}


        
        
    </script>
    
<script th:inline="javascript">


// multiplication table d
var d = [
    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
    [1, 2, 3, 4, 0, 6, 7, 8, 9, 5],
    [2, 3, 4, 0, 1, 7, 8, 9, 5, 6],
    [3, 4, 0, 1, 2, 8, 9, 5, 6, 7],
    [4, 0, 1, 2, 3, 9, 5, 6, 7, 8],
    [5, 9, 8, 7, 6, 0, 4, 3, 2, 1],
    [6, 5, 9, 8, 7, 1, 0, 4, 3, 2],
    [7, 6, 5, 9, 8, 2, 1, 0, 4, 3],
    [8, 7, 6, 5, 9, 3, 2, 1, 0, 4],
    [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
];

// permutation table p
var p = [
    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
    [1, 5, 7, 6, 2, 8, 3, 0, 9, 4],
    [5, 8, 0, 3, 7, 9, 6, 1, 4, 2],
    [8, 9, 1, 6, 0, 4, 3, 5, 2, 7],
    [9, 4, 5, 3, 1, 2, 6, 8, 7, 0],
    [4, 2, 8, 6, 5, 7, 3, 9, 0, 1],
    [2, 7, 9, 3, 8, 0, 6, 4, 1, 5],
    [7, 0, 4, 6, 9, 1, 3, 2, 5, 8]
];
function mod(num, divisor) {
	return ((num % divisor) + divisor) % divisor;
}
function validateVerhoeff(num){
   // alert(num);
   if (num.charAt(0) !== '0' && num.charAt(0) !== '1'){
    var c = 0;
    var myArray=[];
    myArray = StringToReversedIntArray(num);
   
    for (var i = 0; i < myArray.length; i++)
    {
    	c = d[c][p[mod(i, 8)][myArray[i]]];
    
       
    }
    
    return (c == 0);
    }
    else{
		return false;
	}
}
function StringToReversedIntArray(num){
    var myArray=[];
    
    for(var i = 0; i < num.length; i++)
    {
        myArray[i] = parseInt(num.substring(i, i + 1));
    }
    myArray = Reverse(myArray);
    
    return myArray;

}
function Reverse(myArray){
    var reversed = [];
 
    for(var i = 0; i < myArray.length ; i++)
    {
        reversed[i] = myArray[myArray.length - (i + 1)];
    }
    return reversed;
}
function isNumberKey(evt)
{
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode != 46 && charCode > 31 
        && (charCode < 48 || charCode > 57))
        return false;

    return true;
}
function confirm(){

  
	
    var mobile_phone =document.getElementById("mbNo").value;
	
    var email =document.f2.email.value;
   // alert(email);
//     var adhaar =document.f2.aadhaar.value;
 var adhaar = document.getElementById("aadhaar").value;
    
 //   validateEmail(email);
 
    if(mobile_phone.length!=10){
         alert("Invalid Mobile ");
        document.f2.mbNo.focus();
        return false;
       
    }
    
    var emailInput = document.getElementById("email");
    var email = emailInput.value.trim(); // Trim whitespace from the email value

    if (email === "") {
        alert("Email must be filled out");
        return false;
    } 
     
    if(adhaar===0){
        alert("Aadhar Number must be filled out");
        return false;
    }
  
   
}
 function validateEmail(email) {
    //var email = document.getElementById('emailid');
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if (email === '') {
        alert('Please Enter Email-Id');
        document.f2.email.focus();
        return false;

    } else if (!filter.test(email.value)) {
        email.value = "";
        alert('please provide valid Email Id');
        document.f2.email.focus();
        return false;
    }


}
function mod(num, divisor) {
							return ((num % divisor) + divisor) % divisor;
						}

						function validateVerhoeff(num) {
							var d = [
								[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
								[1, 2, 3, 4, 0, 6, 7, 8, 9, 5],
								[2, 3, 4, 0, 1, 7, 8, 9, 5, 6],
								[3, 4, 0, 1, 2, 8, 9, 5, 6, 7],
								[4, 0, 1, 2, 3, 9, 5, 6, 7, 8],
								[5, 9, 8, 7, 6, 0, 4, 3, 2, 1],
								[6, 5, 9, 8, 7, 1, 0, 4, 3, 2],
								[7, 6, 5, 9, 8, 2, 1, 0, 4, 3],
								[8, 7, 6, 5, 9, 3, 2, 1, 0, 4],
								[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
							];

							// permutation table p
							var p = [
								[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
								[1, 5, 7, 6, 2, 8, 3, 0, 9, 4],
								[5, 8, 0, 3, 7, 9, 6, 1, 4, 2],
								[8, 9, 1, 6, 0, 4, 3, 5, 2, 7],
								[9, 4, 5, 3, 1, 2, 6, 8, 7, 0],
								[4, 2, 8, 6, 5, 7, 3, 9, 0, 1],
								[2, 7, 9, 3, 8, 0, 6, 4, 1, 5],
								[7, 0, 4, 6, 9, 1, 3, 2, 5, 8]
							];

							var c = 0;
							var myArray = [];
							myArray = StringToReversedIntArray(num);
							for (var i = 0; i < myArray.length; i++) {
								c = d[c][p[mod(i, 8)][myArray[i]]];
							}

							return (c == 0);
						}
						function StringToReversedIntArray(num) {
							var myArray = [];

							for (var i = 0; i < num.length; i++) {
								myArray[i] = parseInt(num.substring(i, i + 1));
							}
							myArray = Reverse(myArray);

							return myArray;

						}
						function Reverse(myArray) {
							var reversed = [];

							for (var i = 0; i < myArray.length; i++) {
								reversed[i] = myArray[myArray.length - (i + 1)];
							}
							return reversed;
						}
 
 setTimeout(function () {
		$('#popupMessage').hide();
	}, 4000);


</script>

</html>