<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password for DAO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .error { color: red; }
        select {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <div th:insert="home"></div>

    <table border="0" align="center">
        <span style="margin-left: 42%; font-size: x-large; font-weight: bold; color: red;" th:text="${result}"></span>

        <th class="heading" colspan="2">Reset Password For Self</th>
        <tr>
            <td>
                <form name="f1" method="POST" th:action="@{/postDaoResetpassword}">
                    <table border="1">
<!--                        <tr>-->
<!--                        <td width="50%"><b>RSK <font color="red">*</font></b></td>-->
<!--                            <td>-->
<!--                                <select name="mandalname" id="mandalname" required onchange="populateUseridForMao(this.value)">-->
<!--                                    <option value="">------------Select-----------</option>-->
<!--                                    <option th:each="mdl : ${mandal}"-->
<!--                                            th:value="${mdl.vscode}"-->
<!--                                            th:text="${mdl.vsname}">-->
<!--                                    </option>-->
<!--                                </select>-->
<!--                            </td>-->
<!--                        </tr>-->

                        <tr>
                            <td><b>User Name <font color="red">*</font></b></td>
                            <td>
                                <select name="username" id="username" required>
                                    <option value="">------------Select-----------</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td><b>New Password <font color="red">*</font></b></td>
                            <td>
                                <input required type="password" name="newpassword" id="newpassword" onchange="passwordChanged()">
                                <span id="strength"></span>
                            </td>
                        </tr>

                        <tr>
                            <td><b>Retype New Password <font color="red">*</font></b></td>
                            <td>
                                <input required type="password" name="retypenewpassword" id="password1" onchange="passwordChanged1()">
                                <span id="strength1"></span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <div align="center">
                                    <input type="button" value="Submit" onclick="chk()">
                                    <input type="button" value="Go Back" onclick="back()">
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>

    <!-- JavaScript Functions -->

    <script>
		
		
		$(document).ready(function() {
		    
			populateUseridForMao();
		});
		
        function populateUseridForMao() {
            
                $.ajax({
                    url: './getMaoData',
                    type: 'GET',
                    success: function (data) {
                        var usernameSelect = $('#username');
                        usernameSelect.empty();
                        usernameSelect.append('<option value="">------------Select-----------</option>');

                        if (data.length > 0) {
                            $.each(data, function (index, user) {
                                usernameSelect.append(
                                    $('<option></option>').val(user.distName).text(user.distName)
                                );
                            });
                        } else {
                            alert('No user IDs found for selected RSK');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching user IDs:', error);
                        alert('Error fetching user IDs');
                    }
                });
            } 

        function passwordChanged() {
            var strength = document.getElementById('strength');
            var pwd = document.getElementById("newpassword").value;
            var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");

            if (pwd.length === 0) {
                strength.innerHTML = 'Password is required.';
            } else if (strongRegex.test(pwd)) {
                strength.innerHTML = '<span style="color:green">Strong!</span>';
            } else {
                strength.innerHTML = '<span style="color:red">Weak! Use min 8 chars incl. upper, lower, number, special char</span>';
            }
        }

        function passwordChanged1() {
            var strength1 = document.getElementById('strength1');
            var pwd1 = document.getElementById("password1").value;
            var pwd = document.getElementById("newpassword").value;

            if (pwd1 !== pwd) {
                strength1.innerHTML = '<span style="color:red">Passwords do not match</span>';
            } else {
                strength1.innerHTML = '<span style="color:green">Matched</span>';
            }
        }

        function chk() {
            var newpwd = document.f1.newpassword.value;
            var repwd = document.f1.retypenewpassword.value;

            if (newpwd === "" || repwd === "") {
                alert("Please fill in both password fields.");
                return false;
            }

            if (newpwd !== repwd) {
                alert("Passwords do not match.");
                return false;
            }

            document.f1.submit();
        }

        function back() {
            window.location.href = './home';
        }
    </script>
</body>
</html>
