<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header"></head>

<body>
	<div th:insert="headerImage"></div>

	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>

	<div class="container">

		<div class="container-fluid header-design-login">
			<div class="row justify-content-center align-items-center" style="height: 10vh;">
				<div class="webland-container">
					<div id="popupMessage" th:if="${msg != null}" class="alert alert-success">
						<!-- Display the flash attribute 'msg' -->
						<p th:text="${msg}"></p>
					</div>
					<form th:object="${allocSurvey}" th:action="@{/getPattaDetails}" method="post"
						onsubmit="return validateForm()">

						<h5>Allocation Of Survey Numbers To VAA/VHA/VSA</h5>
						<br>
						<div class="mb-3">
							<label for="name">Crop Year:</label>
							<select name="crYear" class="form-select" aria-label="Crop Year">
								<option value="0">-select crop year-</option>
								<option th:each="emp : ${activeseason}" th:value="${emp.seasonvalue}"
									th:text="${emp.cropyear}">
									Employee Name</option>

							</select>
						</div>
						<div class="mb-3">
							<label for="name">RBK</label>
							<select id="rbk" name="rbk" class="form-select" aria-label="Select Village"
								th:onchange="getVillageByRbk(this.value,'village')">
								<option value="0">-Select Village-</option>
								<option th:each="emp : ${rbk}" th:value="${emp.vcode}" th:text="${emp.vname}">Village
									Name</option>

							</select>
						</div>

						<div class="mb-3">
							<label for="name">Revenue Village</label>
							<select id="village" name="village" class="form-select" aria-label="Select Village"
								th:onchange="getEmployeeByRevenue('employee')">
								<option value="0">-Select Revenue Village-</option>
								<option th:each="emp : ${webLandDet}" th:value="${emp.wbvcode}"
									th:text="${emp.wbvname}">Village
									Name</option>

							</select>
						</div>

						<div class="mb-3">
							<label for="name">Allot to Employee</label>
							<select id="employee" name="employee" class="form-select" aria-label="Select Village">
								<option value="0">-Select Employee Village-</option>
								<option th:each="emp : ${webLandDet}" th:value="${emp.wbvcode}"
									th:text="${emp.wbvname}">Village
									Name</option>

							</select>
						</div>
						<button type="submit" class="btn btn-primary btn-block">Search</button>
						<button type="button" class="btn btn-primary btn-block"
							th:onclick="window.location.href='/home'">Back</button>


					</form>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
	<script>
		function getVillageByRbk(a, b) {
			var dropdownselect = '<option value="">-----select------</option>';
			$.ajax({
				type: "get",
				url: "./getRevenueVillage?rbkCode=" + a,
				cache: false,
				success: function (data) {
					jQuery.each(data, function (index, item) {
						dropdownselect += "<option value='" + item.wbvcode + " '>"
							+ item.wbvname + "";
					});
					document.getElementById(b).innerHTML = dropdownselect
				},
				error: function (e) {

				}
			});
		}

		function getEmployeeByRevenue(a) {
			var rbkCode = $('#rbk').val();
			var dropdownselect = '<option value="">-----select------</option>';
			$.ajax({
				type: "get",
				url: "./getEmployeeByRevenue?rbkCode=" + rbkCode,
				cache: false,
				success: function (data) {
					jQuery.each(data, function (index, item) {
						dropdownselect += "<option value='" + item.emp_code + " '>"
							+ item.emp_name + "";
					});
					document.getElementById(a).innerHTML = dropdownselect
				},
				error: function (e) {

				}
			});
		}
		function validateForm() {
			var cropYear = document.getElementsByName("crYear")[0].value;
			var rbk = document.getElementById("rbk").value;
			var village = document.getElementById("village").value;
			var employee = document.getElementById("employee").value;

			if (cropYear == 0 || rbk == 0 || village == 0 || employee == 0) {
				alert("Please fill out all fields before submitting.");
				return false;
			}


			return true;
		}
		setTimeout(function () {
			$('#popupMessage').hide();
		}, 4000);



	</script>
</body>

</html>