<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header"></head>

<body>
	<div th:insert="headerImage"></div>

	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>

	<div class="container" style="width:60%;">
		<h5 style="text-align: center;">Allocation Of Survey No's to VAA/VSA/VHA</h5>
		<form th:action="@{/saveSelection}" method="post">
			<table>
				<tr>
					<td class="grandtotal" align="center" colspan="20"><b>District:&nbsp;<font color="green"
								th:text="${districtname}">
							</font>&nbsp;&nbsp;
							Mandal:&nbsp;<font color="green" th:text="${mandalname}">></font>
							&nbsp;&nbsp;
							Village :&nbsp;<font color="green" th:text="${villagename}"></font>
						</b></td>
				</tr>
			</table>
			<div class="table-responsive align-items-center"
				th:if="${pattadharDetails != null and not #lists.isEmpty(pattadharDetails)}">
				<table class="table scroll table-bordered">
					<thead>
						<tr>
							<th style="width: 5%;"><input type="checkbox" id="selectAll" /></th>
							<th style="width: 5%;">Sno</th>
							<th style="width: 10%;">Data Source</th>
							<th style="width: 15%;">Whole Survey No</th>
							<th style="width: 10%;">Survey No</th>
							<th style="width: 10%;">Khata No</th>
							<th style="width: 10%;">Total Extent</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pattadhar, rowStat : ${pattadharDetails}">
							<td style="width: 5%;"><input type="checkbox" class="checkSingle" name="selectedBkIds"
									th:value="${pattadhar.bkid}" /></td>
							<td style="width: 5%;" th:text="${rowStat.index + 1}"></td>
							<td style="width: 10%;" th:text="${pattadhar.datasrc}"><input type="text" name="dataSrc"
									th:value="${pattadhar.datasrc}"></td>
							<td style="width: 15%;" th:text="${pattadhar.wholesurveyno}"></td>
							<td style="width: 10%;" th:text="${pattadhar.surveyno}"></td>
							<td style="width: 10%;" th:text="${pattadhar.khathano}"></td>
							<td style="width: 10%;" th:text="${pattadhar.totalextent}">
								<input type="hidden" name="dataSrc" th:value="${pattadhar.datasrc}" />
								<input type="hidden" th:id="'bkId' + ${rowStat.index}" name="bkId${rowStat.index}"
									th:value="${pattadhar.bkid}" />
							</td>
						</tr>
					</tbody>
				</table>
				<input type="hidden" id="vcodes" name="vcodes" th:value="${vcode}" />
				<input type="hidden" id="rbkcodes" name="rbkcodes" th:value="${rbkcode}" /> <input type="hidden"
					id="empCode" name="empCode" th:value="${empcode}" /> <input type="hidden" id="pcropyear"
					name="pcropyear" th:value="${cropyear}" /> <input type="hidden" id="pcropseason" name="pcropseason"
					th:value="${season}" /> <input type="hidden" id="ppartkey" name="ppartkey" th:value="${partkey}" />
				<div class="col-md-12">
					<div style="margin: 0 auto; width: 155px; color: #000;">
						<button type="submit" class="btn btn-primary" id="searchId"
							title="Search Allocation of Survey No Details" onclick="return checkVal();">Submit</button>
						<button type="button" class="btn btn-warning" id="resetId"
							th:onclick="window.location.href='/allocOfSurveyNo'">Back</button>
					</div>
				</div>
			</div>
			<div th:if="${pattadharDetails == null or #lists.isEmpty(pattadharDetails)}">
				<!-- Content to display when pattadharDetails is null or empty -->
				<p style="color:red;">No Records found</p>
			</div>
		</form>
	</div>

	<script>
		$(document).ready(function () {

			$('#checkSingle').change(function () {
				if (this.checked) {
					$(".checkSingle").each(function () {
						$(this).closest("tr").css("background-color", '#7FB3D5');
						this.checked = true;

					})
				} else {
					$(".checkSingle").each(function () {
						this.checked = false;
					})
				}
			})

			$(".checkSingle").click(function () {
				if ($(this).is(":checked")) {
					var isAllChecked = 0;
					$(".checkSingle").each(function () {
						if (!this.checked)
							isAllChecked = 1;
					})
					if (isAllChecked == 0) {
						$("#selectAll").prop("checked", true);
					}
				} else {
					$("#selectAll").prop("checked", false);
				}
			});
		});

		function checkVal() {
			var selopt = document.getElementsByName("selectedBkIds");
			var flag = false;
			for (var i = 0; i < selopt.length; i++) {
				if (selopt[i].checked) {
					flag = true;
				}
			}
			if (flag) {
				return true;
			} else {
				alert("please select atleast one record to submit");
				return false;
			}

		}

		document.getElementById('selectAll').addEventListener(
			'change',
			function () {
				var checkboxes = document.getElementsByName('selectedBkIds');
				for (var i = 0; i < checkboxes.length; i++) {
					checkboxes[i].checked = this.checked;
				}
			});

		var individualCheckboxes = document.getElementsByName('selectedBkIds');
		for (var i = 0; i < individualCheckboxes.length; i++) {
			individualCheckboxes[i].addEventListener(
				'change',
				function () {
					var headerCheckbox = document.getElementById('selectAll');
					var allChecked = true;
					for (var j = 0; j < individualCheckboxes.length; j++) {
						if (!individualCheckboxes[j].checked) {
							allChecked = false;
							break;
						}
					}
					headerCheckbox.checked = allChecked;
				});
		}
	</script>
</body>

</html>