<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script th:src="@{/js/scripts.js}"></script>
<title>Allocation Of Survey No's to VAA/VSA/VHA</title>
<script>
	$(document).ready(function() {

		$('#checkSingle').change(function() {
			if (this.checked) {
				$(".checkSingle").each(function() {
					$(this).closest("tr").css("background-color", '#7FB3D5');
					this.checked = true;

				})
			} else {
				$(".checkSingle").each(function() {
					this.checked = false;
				})
			}
		})

		$(".checkSingle").click(function() {
			if ($(this).is(":checked")) {
				var isAllChecked = 0;
				$(".checkSingle").each(function() {
					if (!this.checked)
						isAllChecked = 1;
				})
				if (isAllChecked == 0) {
					$("#selectAll").prop("checked", true);
				}
			} else {
				$("#selectAll").prop("checked", false);
			}
		});
	});

	function checkVal() {
		var selopt = document.getElementsByName("selectedBkIds");
		var flag = false;
		for (var i = 0; i < selopt.length; i++) {
			if (selopt[i].checked) {
				flag = true;
			}
		}
		if (flag) {
			return true;
		} else {
			alert("please select atleast one record to submit");
			return false;
		}

	}
</script>
</head>
<body>
	<div th:replace="home :: content"></div>
	<div class="container-fluid header-design-login">
		<div class="row justify-content-center align-items-center"
			style="height: 10vh;">
			<div class="webland-container" >
				<h5>Allocation Of Survey No's to VAA/VSA/VHA</h5>
				<form th:action="@{/saveSelection}" method="post">
				<div th:if="${pattadharDetails != null and not #lists.isEmpty(pattadharDetails)}">
					<table>

						<thead>
							<tr>
								<td class="grandtotal" align="center" colspan="20"><b>District:&nbsp;<font
										color="green" th:text="${districtname}"></font>&nbsp;&nbsp;
										Mandal:&nbsp;<font color="green" th:text="${mandalname}">></font>&nbsp;&nbsp;
										Village :&nbsp;<font color="green" th:text="${villagename}"></font>
								</b></td>
							</tr>

							<tr>
								<th><input type="checkbox" id="selectAll" /></th>
								<th></th>
								<th>Sno</th>
								<th>Data Source</th>
								<th>Whole Survey No</th>
								<th>Survey No</th>
								<th>Khata No</th>
								<th>Total Extent</th>
							</tr>
						</thead>




						<tr th:each="pattadhar, rowStat : ${pattadharDetails}">
							<td><input type="checkbox" class="checkSingle"
								name="selectedBkIds" th:value="${pattadhar.bkid}" /></td>
							<td><input type="hidden" name="dataSrc"
								th:value="${pattadhar.datasrc}" /></td>
							<td th:text="${rowStat.index + 1}"></td>
							<td th:text="${pattadhar.datasrc}"><input type="text"
								name="dataSrc" th:value="${pattadhar.datasrc}"></td>
							<td th:text="${pattadhar.wholesurveyno}"></td>
							<td th:text="${pattadhar.surveyno}"></td>
							<td th:text="${pattadhar.khathano}"></td>
							<td th:text="${pattadhar.totalextent}"></td>
							<td><input type="hidden" th:id="'bkId' + ${rowStat.index}"
								name="bkId${rowStat.index}" th:value="${pattadhar.bkid}" /></td>



						</tr>
						


					</table>
					<input type="hidden" id="vcodes" name="vcodes" th:value="${vcode}" />
					<input type="hidden" id="rbkcodes" name="rbkcodes"
						th:value="${rbkcode}" /> <input type="hidden" id="empCode"
						name="empCode" th:value="${empcode}" /> <input type="hidden"
						id="pcropyear" name="pcropyear" th:value="${cropyear}" /> <input
						type="hidden" id="pcropseason" name="pcropseason"
						th:value="${season}" /> <input type="hidden" id="ppartkey"
						name="ppartkey" th:value="${partkey}" /> <input type="submit"
						class="btn btn-primary btn-block" value="submit"
						onclick="return checkVal();">
					<button type="button" class="btn btn-primary btn-block"
						th:onclick="window.location.href='/allocOfSurveyNo'">Back</button>
						</div>
  <div th:if="${pattadharDetails == null or #lists.isEmpty(pattadharDetails)}">
    <!-- Content to display when pattadharDetails is null or empty -->
    <p>No records found</p>
</div>
				</form>
				<script>
    document.getElementById('selectAll').addEventListener(
        'change',
        function() {
            var checkboxes = document.getElementsByName('selectedBkIds');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = this.checked;
            }
        });

    var individualCheckboxes = document.getElementsByName('selectedBkIds');
    for (var i = 0; i < individualCheckboxes.length; i++) {
        individualCheckboxes[i].addEventListener(
            'change',
            function() {
                var headerCheckbox = document.getElementById('selectAll');
                var allChecked = true;
                for (var j = 0; j < individualCheckboxes.length; j++) {
                    if (!individualCheckboxes[j].checked) {
                        allChecked = false;
                        break;
                    }
                }
                headerCheckbox.checked = allChecked;
            });
    }
</script>

			</div>
		</div>
	</div>
</body>

</html>