<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header"></head>

<body>
	<div th:insert="headerImage"></div>

	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>

	<div class="container">
		<section class="content" style="padding-top: 1px;">
			<div class="row topformcontent">
				<div class="col-md-12">
					<div class="box box-solid box-patent" style="margin-top: 5px;margin-bottom: 10px;">
						<div class="box-header">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<label class="box-title">
											<span style="font-size: 16px; font-weight: bold;">Selection Of Khata
												No For Add/Update Cultivator</span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="box-body" style="padding: 10px 10px 3px 10px; height: auto;">
							<div class="row">
								<div class="col-md-3">
									<div class="col-md-5">
										<label>Crop Year</label>
									</div>
									<div class="col-md-7">
										<div class="form-group" style="margin-bottom: 5px;">
											<div class="input-group">
												<select class="form-control" id="dropOperator" required="required">
													<option th:each="cropyear : ${crYearList}" th:value="${cropyear}"
														th:text="${cropyear}" selected>
													</option>
												</select>
												<span id="dropdownError" style="color: red;"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="col-md-5">
										<label>Search By</label>
									</div>
									<div class="col-md-7">
										<div class="form-group" style="margin-bottom: 5px;">
											<div class="input-group">
												<select class="form-control" id="searchParam" name="searchParam" style="width: 190px">
													<option value="khNo" selected>Katha No</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="col-md-5">
										<label>From Katha</label>
									</div>
									<div class="col-md-7">
										<div class="form-group" style="margin-bottom: 5px;">
											<div class="input-group">
												<input type="number" name="fromKhno" id="fromKhnoId"
													class="form-control">
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3" style="padding-top: 2%;">
									<div class="col-md-5">
									</div>
									<div class="col-md-7">
										<div class="form-group" style="margin-bottom: 5px;">
											<div class="input-group">
												<div style="margin: 0 auto; width: 155px; color: #000;">
													<button type="button" class="btn btn-primary" id="searchId"
														onclick="searchData()"
														title="Search Opposition Details">Search</button>
													<button type="button" class="btn btn-warning" id="resetId"
														title="To reset all the details">Reset</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<form action="/cultivator" method="GET">
		<input type="hidden" th:value="${session.wbdcode}" th:id="wbdcode" />
		<input type="hidden" th:value="${session.wbmcode}" th:id="wbmcode" />
		<input type="hidden" th:value="${session.wbvcode}" th:id="wbvcode" />
		<input type="hidden" th:value="${session.userid}" th:id="userid" />
	</form>

	<div class="container" id="contentDivId"></div>

	<div th:insert="cultivatorModal"></div>

	<div th:insert="ownerOrEnjoyerModal"></div>
</body>

</html>