
<div th:fragment="cultivatorModal" class="container">
	<div class="modal face" id="cultivatorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" style="max-width: 700px!important;" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title w-100 text-center">Add Cultivator Details</h4>
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"> <span
							aria-hidden="true">&times;</span></button>
				</div>

				<div class="modal-body">
					<div class="container">
						<div class="form-group row">
							<label for="id" class="col-sm-2 col-form-label">Survey No</label>
							<div class="col-sm-4">
								<input name="crSno" type="text" class="form-control" id="crSno" />
								<input name="part_key" type="hidden" class="form-control" id="part_key" />
								<input name="cr_vcode" type="hidden" class="form-control" id="cr_vcode" />
								<input name="cr_year" type="hidden" id="cr_year" />
								<input name="cr_season" type="hidden" id="cr_season" />
								<input name="owner_tenant" type="hidden" id="owner_tenant" />
								<input name="cultivatorIndex" type="hidden" id="cultivatorIndex" />
							</div>
							<label for="id" class="col-sm-2 col-form-label">Katha No</label>
							<div class="col-sm-4">
								<input type="text" name="khNo" class="form-control" id="khNo" />
							</div>
						</div>

						<div class="form-group row">
							<label for="id" class="col-sm-2 col-form-label">Cultivator Name</label>
							<div class="col-sm-10">
								<input type="text" name="ocName" class="form-control" id="ocName"
									placeholder="Please Enter Cultivator Name." required />
								<div class="invalid-feedback">
									Please Enter Cultivator Name.
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="validationCustomUsername" class="col-sm-2 col-form-label">Father
								Name</label>
							<div class="col-sm-10">
								<input type="text" name="fatherName" class="form-control" id="fatherName"
									placeholder="Please Enter Cultivator Father Name." required>
								<div class="invalid-feedback">
									Please Enter Cultivator Father Name.
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="id" class="col-sm-2 col-form-label">Aadhar No</label>
							<div class="col-sm-10">
								<input type="number" name="aadharNo" class="form-control" id="aadharNo"
									placeholder="Please Enter Cultivator Aadhar No" required />
								<div class="invalid-feedback">
									Please Enter Cultivator Aadhar No.
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label for="id" class="col-sm-2 col-form-label">Extent</label>
							<div class="col-sm-10">
								<input type="number" name="occupantExtent" class="form-control" id="occupantExtent"
									placeholder="Please Enter Cultivator Extent" required />
								<div class="invalid-feedback">
									Please Enter Cultivator Extent.
								</div>
							</div>
						</div>

						<div class="modal-footer">
							<a class="btn btn-success" onclick="saveCultivatorTenantData()">Save</a>
							<a class="btn btn-danger" data-bs-dismiss="modal">Close</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>