
 <head th:fragment="header"> 
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

 	<script src="./js/jquery-3.7.0.js"></script> 
	<!-- <script src="./js/jquery-3.7.1.js"></script>  -->
	<script src="./js/jquery-3.6.0.min.js"></script>

	
	<script src="./js/popper.min.js"></script>
	<script src="./js/alertify.min.js"></script>
	<script src="./js/nprogress.min.js"></script>
	<script src="./js/sweetalert2.all.min.js"></script>
	<script src="./js/bootstrap.bundle.min.js"></script>
	<script src="./js/jquery.dataTables.min.js"></script>
	<script src="./js/dataTables.bootstrap5.min.js"></script>
	<script src="./js/crypto-js.min.js"></script>
	
	<script src="./js/custom/ecropCultivator.js"></script>
		<script src="./js/script.js"></script>

	
	
	<!--   csrf -->
	
	<meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

	<link rel="stylesheet"  type="text/css" href="./css/nprogress.min.css" />
	<link rel="stylesheet"  type="text/css" href="./css/font-awesome.css" />
	<link rel="stylesheet"  type="text/css" href="./css/sweetalert2.min.css" />
	<link rel="stylesheet"  type="text/css" href="./css/bootstrap.min.css">
	<link rel="stylesheet"  type="text/css" href="./css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet"  type="text/css" href="./css/alertify.min.css" />
	</script>
	
<!--	<script type="text/javascript">-->
<!--document.addEventListener('contextmenu', function(e) {-->
<!--    e.preventDefault();-->
<!--});-->
<!--</script>-->

<!--<script type="text/javascript">-->
<!--        document.addEventListener('keydown', function(e) {-->
<!--            if (e.key === 'F12' || (e.ctrlKey && e.shiftKey && e.key === 'I') || (e.ctrlKey && e.shiftKey && e.key === 'J') || (e.ctrlKey && e.key === 'U')) {-->
<!--                e.preventDefault();-->
<!--            }-->
<!--        });-->
<!--    </script>-->
	
	
  <script type="text/javascript">
  
  $(document).ready(function() {
	    var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");
	    
	    $(document).ajaxSend(function(e, xhr, options) {
	        xhr.setRequestHeader(header, token);
	    });
	});
  
  
  
  


  </script>

	<link rel="stylesheet" type="text/css" href="./css/style.css" /> 


 </head>







