<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">

	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">

	<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Home</title>
	<style>
		.grey-text {
			color: grey;
			font-family: Arial, sans-serif;
			font-size: 20px;
			font-weight: bold;
		}

		#cultivatorsList {
			width: 100%;
		}



		.black-text {
			color: black;
			font-family: Arial, sans-serif;
			font-size: 20px;
			font-weight: bold;
		}


		.grey-background {
			background-color: rgb(255, 255, 255);
		}



		.cropbook {
			background-color: white;
			width: 100%;
			text-align: center;
		}


		.blue-background {
			background-color: #3498db;
		}



		.white-background {
			background-color: white;
		}



		.village {
			padding: 10px;
			margin: 10px;
			text-align: center;
		}

		.close {
			color: #aaaaaa;
			float: right;
			font-size: 28px;
			font-weight: bold;
		}

		.close:hover,
		.close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}

		.container,
		.container-lg,
		.container-md,
		.container-sm,
		.container-xl {
			max-width: 1520px !important;
		}

		.table>.form-control {
			height: 30px;
		}
	</style>
</head>

<body>
	<div th:fragment="content">
		<div class="header-design-new" id="headerimg">

			<img src="./images/Header.jpeg" th:src="@{./images/Header.jpeg}">

		</div>
		<form th:action="@{/home}" method="post">
			<nav class="navbar navbar-expand-sm bg-dark-green navbar-dark container-fluid">
				<div class="container">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#collapsibleNavbar">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="collapsibleNavbar">
						<ul class="navbar-nav">
							<li class="nav-item" style="margin-left: 85px;"></li>
							<li class="nav-item dropdown">
								<a class="nav-link text-white" href="home">
									HOME
								</a>

							</li>
							<li class="nav-item" style="margin-left: 85px;"></li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-white" href="#" id="agreementDropdown"
									data-bs-toggle="dropdown">
									USER MANAGEMENT
								</a>
								<ul class="dropdown-menu" aria-labelledby="agreementDropdown">
									<li><a class="dropdown-item" href="webland">Preparation Of Data For Crop
											Booking
											From Webland </a></li>
									<li><a class="dropdown-item " href="login">Village Normal Areas Updation</a>
									</li>
									<li><span class="dropdown-item" onclick="loadRelatedPage('/cultivator')">Add/Update
											Cultivator</span></li>

									<li><a class="dropdown-item" href="#">Contact Us</a></li>
								</ul>
							</li>
							<li class="nav-item" style="margin-left: 85px;"></li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-white" href="#" id="transactionDropdown"
									data-bs-toggle="dropdown">
									TRANSACTIONS
								</a>
								<ul class="dropdown-menu" aria-labelledby="transactionDropdown">
									<li><a class="dropdown-item " href="home">Home</a></li>
									<li><a class="dropdown-item" href="login">Login</a></li>
									<li><a class="dropdown-item " href="#">About Us</a></li>
									<li><a class="dropdown-item " href="#">Contact Us</a></li>
								</ul>
							</li>
							<li class="nav-item" style="margin-left: 85px;"></li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-white" href="#" id="reportsDropdown"
									data-bs-toggle="dropdown">
									REPORTS
								</a>
								<ul class="dropdown-menu" aria-labelledby="reportsDropdown">
									<li><a class="dropdown-item" href="#">District Wise Abstract on Extent Booked</a>
									</li>
									<!--                                    <li><a class="dropdown-item" href="#">District Wise Status Report for All Crops </a></li>-->
									<li><a class="dropdown-item" href="#">State Wide Crop Report</a></li>
									<li><a class="dropdown-item" href="#">List of Perennial/Biennial Crops</a></li>
								</ul>
							</li>
							<li class="nav-item" style="margin-left: 85px;"></li>
							<li class="nav-item">
								<a class="nav-link text-white" href="logout">LOGOUT</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</form>

		<div style="background-color:lightblue;">
			<center>
				<p style="font-size: larger;"> Welcome to <b><span th:text="${typename}"></span></b> from <b><span
							th:text="${wbedname}"></span> , <span th:text="${wbemname}"></span>, <span
							th:text="${wbevname}"></span></b></p>
			</center>
		</div>

		<div class="container" id="headerDivId"></div>

		<div class="container" id="contentDivId"></div>

	</div>

	<div class="container">
		<div class="modal face" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" style="max-width: 700px!important;" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title w-100 text-center">Add Cultivator Details</h4>
						<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"> <span
								aria-hidden="true">&times;</span></button>
					</div>

					<div class="modal-body">
						<div class="container">
							<div class="form-group row">
								<label for="id" class="col-sm-2 col-form-label">Survey No</label>
								<div class="col-sm-4">
									<input name="crSno" type="text" class="form-control" id="crSno" />
									<input name="part_key" type="hidden" class="form-control" id="part_key" />
									<input name="cr_vcode" type="hidden" class="form-control" id="cr_vcode" />
									<input name="cr_year" type="hidden" id="cr_year" />
									<input name="cr_season" type="hidden" id="cr_season" />
									<input name="owner_tenant" type="hidden" id="owner_tenant" />
								</div>
								<label for="id" class="col-sm-2 col-form-label">Katha No</label>
								<div class="col-sm-4">
									<input type="text" name="khNo" class="form-control" id="khNo" />
								</div>
							</div>

							<div class="form-group row">
								<label for="id" class="col-sm-2 col-form-label">Cultivator Name</label>
								<div class="col-sm-10">
									<input type="text" name="ocName" class="form-control" id="ocName"
										placeholder="Please Enter Cultivator Name." required />
									<div class="invalid-feedback">
										Please Enter Cultivator Name.
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="validationCustomUsername" class="col-sm-2 col-form-label">Father
									Name</label>
								<div class="col-sm-10">
									<input type="text" name="fatherName" class="form-control" id="fatherName"
										placeholder="Please Enter Cultivator Father Name." required>
									<div class="invalid-feedback">
										Please Enter Cultivator Father Name.
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="id" class="col-sm-2 col-form-label">Aadhar No</label>
								<div class="col-sm-10">
									<input type="number" name="aadharNo" class="form-control" id="aadharNo"
										placeholder="Please Enter Cultivator Aadhar No" required />
									<div class="invalid-feedback">
										Please Enter Cultivator Aadhar No.
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="id" class="col-sm-2 col-form-label">Extent</label>
								<div class="col-sm-10">
									<input type="number" name="occupantExtent" class="form-control" id="occupantExtent"
										placeholder="Please Enter Cultivator Extent" required />
									<div class="invalid-feedback">
										Please Enter Cultivator Extent.
									</div>
								</div>
							</div>

							<div class="modal-footer">
								<a class="btn btn-success" onclick="saveCultivatorData()">Save</a>
								<a class="btn btn-danger" data-bs-dismiss="modal">Close</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</body>
<script type="text/javascript">
	$(document).ready(function () {

		$("#btnCancel").on("click", function () {
			window.location = "[[@{/cultivatorsList}]]";
		});

	});


	var sel = document.getElementById("searchParam"), text = document.getElementById("text");

	function onUserTypeChange(index, selectedValue) {
		console.log('onUserTypeChange', selectedValue);
		if (selectedValue === '1') {
			document.getElementById("occupantExtent" + index).disabled = false;
			//document.getElementById("save" + index).disabled = false;
			$("#occupantExtent" + index).removeAttr('disabled').focus();
			//$("#save" + index).removeAttr('disabled').focus();
		} else if (selectedValue === '2') {
			document.getElementById("occupantExtent" + index).disabled = true;
			setModalValues(index);
			$('.modal').modal('show');
		}
		else if (selectedValue === '3') {
			document.getElementById("aadharNo" + index).disabled = false;
			document.getElementById("occupantExtent" + index).disabled = false;
			//document.getElementById("save" + index).disabled = false;
			$("#aadharNo" + index).removeAttr('disabled').focus();
			$("#occupantExtent" + index).removeAttr('disabled').focus();
			//$("#save" + index).removeAttr('disabled').focus();
		}
	}
	function setModalValues(index) {
		$("#crSno").val($("#crSno" + index).val());
		$("#khNo").val($("#khNo" + index).val());
		$("#part_key").val($("#part_key" + index).val());
		$("#cr_vcode").val($("#cr_vcode" + index).val());
		$("#cr_year").val($("#cr_year" + index).val());
		$("#cr_season").val($("#cr_season" + index).val());
		$("#owner_tenant").val('T');
	}
	function updateCultivatorData(index) {

		$.ajax({
			type: "PUT",
			url: "http://localhost:8027/cultivator/owner/update",
			data: {
				"part_key": $("#part_key" + index).val(),
				"bookingId": $("#bookingId" + index).val(),
				"aadharNo": $("#aadharNo" + index).val(),
				"occupantExtent": $("#occupantExtent" + index).val(),
			},
			success: function (data) {
				document.getElementById("aadharNo" + index).disabled = true;
				document.getElementById("occupantExtent" + index).disabled = true;
				Swal.fire({
					title: "Great!",
					text: "Owner Data Updated Successfully!",
					icon: "success"
				});
			},
			error: function (xhr, err) {
				console.log(err);
				console.log("Failed to Update Details");
			}
		});
	}

	function saveCultivatorData(index) {
		$.ajax({
			type: "POST",
			url: "http://localhost:8027/cultivator/save",
			data: {
				"khNo": $("#khNo").val(),
				"crSno": $("#crSno").val(),
				"ocName": $("#ocName").val(),
				"cr_year": $("#cr_year").val(),
				"aadharNo": $("#aadharNo").val(),
				"part_key": $("#part_key").val(),
				"cr_vcode": $("#cr_vcode").val(),
				"cr_season": $("#cr_season").val(),
				"fatherName": $("#fatherName").val(),
				"owner_tenant": $("#owner_tenant").val(),
				"occupantExtent": $("#occupantExtent").val(),
			},
			success: function (data) {
				console.log(data);

				searchData();
				$("#aadharNo").val('');
				$("#ocName").val('');
				$("#fatherName").val('');
				$("#occupantExtent").val('');
				Swal.fire({
					title: "Great!",
					text: "Cultivator Data Saved Successfully!",
					icon: "success"
				});
			},
			error: function (xhr, err) {
				console.log(err);
				console.log("Failed to Update Details");
			}
		});
	}

	function searchData() {
		$("#contentDivId").html('');
		$.ajax({
			type: "GET",
			url: 'http://localhost:8027/cultivator/kathaNo/?fromKhno=' + $("#fromKhnoId").val(),
			success: function (data) {
				$("#contentDivId").html(data)
			}
		});
	}

	function loadRelatedPage(path) {
		$("#contentDivId").html('');
		$.ajax({
			type: "GET",
			url: 'http://localhost:8027' + path,
			success: function (data) {
				$("#headerDivId").html(data)
			}
		});
	}


</script>

</html>