<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="header">

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Scripts -->

	<title>Login Page</title>
		<!--
		.style1 {
			color: #FFFFFF
		}
		-->
	</style>
<!-- 	<link rel="stylesheet" href="css/example.css" TYPE="text/css" MEDIA="screen"> -->
<!-- 	<link rel="stylesheet" href="example-print.css" TYPE="text/css" MEDIA="print"> -->
<!-- 	<link type="text/css" rel="stylesheet" href="css/tcal.css" /> -->
<!-- 	<script type="text/javascript" src="script/tabber.js"></script> -->
<!-- 	<script type="text/javascript"> -->
<!--  		document.write('<style type="text/css">.tabber{display:none;}<\/style>'); -->
<!-- 	</script> -->


<!--  	<script src="<%=request.getContextPath()%>/js/tcal.js" language="javascript"></script>  -->
<!--  	<script src="<%=request.getContextPath()%>/js/request.js" language="javascript"></script> -->
	<script>
		var http = getXMLHTTPRequest();
		function trim(str) {
			return str.replace(/^\s*|\s*$/g, "");
		}

	</script>
	<script src="./js/md5_1.js"></script>
	<script language="javascript">
		function changePass() {
			var pass = document.f1.oldpwd.value;
			var pass1 = GM(GM((pass)));
			document.f1.oldpwd.value = pass1;
		}
		function changePass1() {
			var repass = document.f1.newpassword.value;
			var repass1 = GM(GM(repass));
			document.f1.newpassword.value = repass1;

		}
		function changePass2() {
			var repass = document.f1.retypenewpassword.value;
			var repass1 = GM(GM((repass)));
			document.f1.retypenewpassword.value = repass1;
		}
		function chk() {
			alert('called')
			errorText = "";

			if (document.f1.newpassword.value == "") {
				errorText = errorText + "\n New Password ";
			}
			if (document.f1.retypenewpassword.value == "") {
				errorText = errorText + "\n Retype New Password";
			}
			if (errorText == "") {
				f1.action = "./posthoresetpwd";
				f1.submit();
				return true;
			} else {
				errorText = "You have left the following fields Blank:\n" + errorText + "\n\nPlease fill these fields in and re-submit the form\n\nThank You.";
				alert(errorText);
				return false
			}
		}

		function passwordChanged() {
			alert('passwordChanged')
			var strength = document.getElementById('strength');
			var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
			var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
			var enoughRegex = new RegExp("(?=.{6,}).*", "g");
			var pwd = document.getElementById("newpassword").value;
			if (pwd.length == 0) {
				strength.innerHTML = 'Minimum 8 Characters with Combination of Number,Special Character,Capital Letter and Small Letter ';
				document.f1.newpassword.value = "";
			} else if (false == enoughRegex.test(pwd.value)) {
				strength.innerHTML = 'More Characters';
				document.f1.newpassword.value = "";
				alert("Minimum 8 Characters with Combination of Number,Special Character,Capital Letter and Small Letter");
			} else if (strongRegex.test(pwd)) {
				strength.innerHTML = '<span style="color:green">Strong!</span>';
				//document.f1.pwdtext.value=pwd;
				changePass1();
			} else if (mediumRegex.test(pwd)) {
				strength.innerHTML = '<span style="color:orange">Medium!</span>';
				//    document.f1.newpassword.value = "";
				alert("Minimum 8 Characters with Combination of Number,Special Character,Capital Letter and Small Letter");
			} else {
				strength.innerHTML = '<span style="color:red">Weak!</span>';
				//  document.f1.newpassword.value = "";
				alert("Minimum 8 Characters with Combination of Number,Special Character,Capital Letter and Small Letter");
			}
		}

		function passwordChanged1() {
			alert('passwordChanged1')
			var strength1 = document.getElementById('strength1');
			var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
			var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
			var enoughRegex = new RegExp("(?=.{6,}).*", "g");
			var repwd = document.getElementById("password1");
			if (repwd.value.length == 0) {
				strength1.innerHTML = 'Minimum 8 Characters with Combination of Number,Special Character,Capital Letter and Small Letter';
				document.f1.retypenewpassword.value = "";
			} else if (false == enoughRegex.test(repwd.value)) {
				strength1.innerHTML = 'More Characters';
				alert("Minimum 8 Characters with Combination of Number,Special Character,Capital Letter and Small Letter");
				document.f1.retypenewpassword.value = "";
			} else if (strongRegex.test(repwd.value)) {
				strength1.innerHTML = '<span style="color:green">Strong!</span>';
				changePass2();
			} else if (mediumRegex.test(repwd.value)) {
				strength1.innerHTML = '<span style="color:orange">Medium!</span>';
				document.f1.retypenewpassword.value = "";
				alert("Minimum 8 Characters with Combination of Number,Special Character,Capital Letter and Small Letter");
			} else {
				strength1.innerHTML = '<span style="color:red">Weak!</span>';
				document.f1.retypenewpassword.value = "";
				alert("Minimum 8 Characters with Combination of Number,Special Character,Capital Letter and Small Letter");
			}
		}
	</script>


	<script>
		function back() {
			document.forms[0].action = 'JDHRibbon.jsp';
			document.forms[0].submit();
		}
	</script>

</head>


<body>

	<div th:insert="headerImage"></div>
	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div> 

	<table border="0" align="center">
		<!-- <tr>
                <td colspan="2" ><div align="center" > 
                        <a href='<%=homemenu%>'>
                            HOME </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <a href='${pageContext.request.contextPath}/logout.jsp'>
                            <b>
                                <font color="#000000" size="2">LOGOUT</font></b></a></div>
                </td>

            </tr>
 -->	
 
 <!-- <div class="card ecropCard2">

					<div class="card-title2">
						<h5 style="text-align: center;">
							Device Registration
							</h3>
					</div>
					<div class="card-body" style="padding: 10px;"> -->
					
					
 	<th class="heading" colspan="2" style="text-align: center"><b> Reset Password For Below Level Users</b></th>

		<tr>
			<td>
				<form name="f1" method="POST">
					<table border="1">
						<html:hidden property="rndm" value='<%=rdm%>' />


						<tr>

							<td class="tdnum" width="50%"><b>User Name</b>
								<font size="3" color="#FF0000">*</font>
							</td>
							<td><input type="text" name="username"></td>
						</tr>

						<tr>
							<td class="tdnum"><b>New Password</b>
								<font size="3" color="#FF0000">*</font>
							</td>
							<td><input type="password" name="newpassword" id="newpassword" onchange="passwordChanged()">
								<span id="strength">(Should Contain Combination of
									Number,Special Character,Capital Letter and Small
									Letter)</span>
							</td>
						</tr>
						<tr>
							<td class="tdnum"><b>Retype New
									Password</b>
								<font size="3" color="#FF0000">*</font>
							</td>
							<td><input type="password" name="retypenewpassword" onchange="passwordChanged1()"
									id="password1">
								<span id="strength1"><b>Type Retype Password</b></span>
							</td>
						</tr>
						<tr>
							<td colspan=2>
								<div align="center">

									<input type="submit" value="Submit" name="B1" onclick="chk()">
									<input type="button" value="Go Back" onclick="back()">

								</div>
							</td>
						</tr>
					</table>
				</form>
			</td>
		</tr>
	</table>
	
</body>

</html>