<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header"></head>

<body>
    <div th:insert="headerImage"></div>

    <div th:insert="navBarTop"></div>
    <div th:insert="headerMessage"></div>

    <title>Non Web Land Formers Data</title>
    <style>
        /* Your CSS styles here */
    </style>

    <div class="survey" align="center">

        <form id="myform" th:action="@{/surveyno}" method="post" onsubmit="return fetchData()">
			

            <label for="cropyear">Crop Year:</label>
            <select id="cropyear" name="cropyear" style="width: 175px" required>
                <option value="">---Select---</option>
                <option th:each="season : ${crandseason}" th:value="${season.season}" th:text="${season.cropyear}">
                </option>
            </select><br><br>

            <label for="vcode">Revenue Village:</label>
            <select id="vcode" name="vcode" style="width: 175px" required>
                <option value="">----Select----</option>
                <option th:each="vi : ${village}" th:value="${vi.wbvcode}" th:text="${vi.wbvname}">
                </option>
            </select><br><br>

            <label for="survyNo">Enter Survey No:</label>
            <input type="text" id="survyNo" name="survyNo" required><br><br>

            <div>
                <input id="sub" type="submit" value="Submit" />
                <input id="sub" type="reset" value="Reset">
                <input id="sub" type="button" value="Back" onclick="goToHome()">
            </div>
            <div id="message">
                <h2 th:text="${msg}"></h2>
            </div>

        </form>

    </div>

    <script>
        function goToHome() {
            window.location.href = 'home.html';
        }

        function fetchData() {
            var cropYear = document.getElementById('cropyear').value;
            if (cropYear === "") {
                alert("Please Select Crop Year");
                return false;
            }
            return true;
        }
    </script>

</body>

</html>