<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header"></head>

<body>
	<div th:insert="headerImage"></div>

	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>

	<div class="container">
		<div class="container-fluid header-design-login">
			<div class="row justify-content-center align-items-center" style="height: 10vh;">
				<div class="webland-container">
					<form th:action="@{/getDetails}" method="post">

						<h5>Selection Of Survey No's For Crop Booking</h5>
						<br>
						<div class="mb-3">
							<label for="name">Crop Year:</label> <select name="crYear" class="form-select"
								aria-label="Crop Year">
								<option value="0">-select crop year-</option>
								<option th:each="emp : ${activeseason}" th:value="${emp.seasonvalue}"
									th:text="${emp.cropyear}">
								</option>

							</select>
						</div>
						<div class="mb-3">
							<label for="name">Village</label> <select id="vcode" name="vcode" class="form-select"
								aria-label="Select Village" th:onchange="getVillageByRbk(this.value,'village')">
								<option value="0">-Select Village-</option>
								<option th:each="emp : ${rbk}" th:value="${emp.vcode}" th:text="${emp.wbvname}">Village
									Name
								</option>

							</select>
						</div>

						<div class="mb-3">
							<label for="name">Search By</label> <select id="searchParam" name="searchParam"
								class="form-select" aria-label="Select param" th:onchange="show_hide_textfield()">
								<option value="1">Whole Survey No</option>
								<option value="2">Khata No</option>

							</select>
						</div>



						<div id="tr_surveyno" class="mb-3">
							<label for="code">From Whole Survey No</label>
							<input type="text" id="surveyno" name="surveyno" required>
						</div>

						<div id="tr_tosurveyno" class="mb-3">
							<label for="name">To Whole Survey No(Optional) </label>
							<input type="text" id="tosurveyno" name="tosurveyno" required>
						</div>

						<div id="tr_fkhno" class="mb-3">
							<label for="code">From Khata </label> <input type="number" id="fromKhno" name="fromKhno"
								required>
						</div>

						<div id="tr_tokhno" class="mb-3">
							<label for="name">To Khata (Optional)</label>
							<input type="number" id="toKhno" name="toKhnoId" required>
						</div>

						<button type="submit" class="btn btn-primary btn-block">SEARCH</button>
						<button type="button" class="btn btn-primary btn-block"
							th:onclick="window.location.href='/home'">Back</button>

					</form>

				</div>
			</div>
		</div>
	</div>

</body>

</html>