<!-- Include your common header content -->
<!--<div th:replace="homePage :: content"></div>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="header"></head>

<body>
	<div th:insert="headerImage"></div>

	<div th:insert="navBarTop"></div>
	<div th:insert="headerMessage"></div>

	<div class="container-fluid header-design-login">
		<div class="row justify-content-center align-items-center" style="height: 10vh;">
			<div class="webland-container">
				<form th:action="@{/fetch-crop-data}" method="post" id="weblandForm">
					<h5 style="color: darkgreen;">Data Preparation From Webland</h5>
					<br />
					<!-- Crop Year Dropdown -->
					<div class="mb-3 form-group">
						<label for="cropyear">Select Crop Year:</label>
						<select id="cropyear" name="cropyear" class="form-control custom-select" required>
							<option value="" disabled selected>Select Crop Year</option>
							<option th:each="season : ${activeSeasons}" th:value="${season.seasonvalue}"
								th:text="${season.cropyear}"></option>
						</select>
					</div>

					<!-- Village Dropdown -->
					<div class="mb-3 form-group">
						<label for="village">Select Village:</label>
						<select id="village" name="village" class="form-control custom-select" required>
							<option value="" disabled selected>Select Village</option>
						</select>
					</div>

					<button type="submit" class="btn btn-primary btn-block"
						style="margin-right: 30px;">Download</button>
					<button type="button" class="btn btn-secondary btn-block" onclick="resetForm()">Refresh</button>

					<!-- "Please wait" message -->
					<div id="pleaseWaitMessage" style="display: none;">Please wait while fetching the data...</div>
					<!-- Percentage Display 
                    <div id="percentageDisplay" style="display: none;"></div>
                </form>-->

					<!-- Display Success Message -->
					<div th:if="${successMessage}" class="alert alert-success" role="alert">
						<strong>Success:</strong> <span th:text="${successMessage}"></span>
					</div>

					<!-- Display Error Message -->
					<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
						<strong>Error:</strong> <span th:text="${errorMessage}"></span>
					</div>
			</div>
		</div>
	</div>

	<script>
		$(function () {
			// Initial setup
			$('#weblandForm').submit(function (e) {
				// Check if both dropdowns are selected before allowing form submission
				if ($('#cropyear').val() === '' || $('#village').val() === '') {
					alert('Please select both Crop Year and Village.');
					e.preventDefault(); // Prevent form submission
				} else {
					// Display "Please wait" message
					$('#pleaseWaitMessage').show();
					// Start the loading bar on form submission
					NProgress.start();
					/*Reset percentage display
					updatePercentageDisplay(0);*/
				}
			});

			$('#cropyear').on('change', function () {
				// Reset Village dropdown
				$('#village').empty().append('<option value="" disabled selected>Select Village</option>');
				// Fetch village list when Crop Year is selected
				if ($('#cropyear').val() !== '') {
					fetchVillageList();
				}
			});

			$('#village').on('change', function () {
				// Reset "Please wait" message and loading bar on Village dropdown change
				$('#pleaseWaitMessage').hide();
				NProgress.done();
			});

			// Rest of the code...
		});

		function fetchVillageList() {
			$.ajax({
				url: '/rest/api/webland-crop/villages',
				method: 'GET',
				data: {activeSeason: $('#cropyear').val()},
				dataType: 'json',
				beforeSend: function () {
					// Loading bar before the request is sent
				},
				success: function (response) {
					var data = response;
					var str = '<option value="">Select Village</option>';
					$.each(data, function (index, obj) {
						str += '<option value="' + obj.wbvcode + '">' + obj.wbvname + '</option>';
					});
					$('#village').html(str);
				},
				error: function (xhr, status, error) {
					//   alert('Technical error. ' + error);
				},
				complete: function () {
					// Loading bar complete after the request is done
					NProgress.done();
					// Hide "Please wait" message
					$('#pleaseWaitMessage').hide();
				}
			});
		}

		function resetForm() {
			$('#cropyear').val('');
			// Trigger change event to reset Village dropdown
			$('#cropyear').change();
			// Optionally, you can reset other form fields or perform additional actions here.
		}


	</script>

</body>

</html>