<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title></title>
</head>
<body>
	<div class="container-fluid header-design-new">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<img src="/images/Header.jpg" class="rounded img-fluid " id="header" alt="Header Image">
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-sm bg-dark-green navbar-dark container-fluid">
		<div class="container">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item" style="margin-left: 85px;"></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white" href="#" id="homeDropdown"
							data-bs-toggle="dropdown">
							Home
						</a>
						<ul class="dropdown-menu" aria-labelledby="homeDropdown">
							<li><a class="dropdown-item  btn btn-primary" href="home">Home</a></li>
						</ul>
					</li>
					<li class="nav-item" style="margin-left: 85px;"></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white" href="#" id="agreementDropdown"
							data-bs-toggle="dropdown">
							User Agreement
						</a>
						<ul class="dropdown-menu" aria-labelledby="agreementDropdown">
							<li><a class="dropdown-item text-primary" href="webland">Preparation Of Data For Crop
									Booking
									From Webland </a></li>
							<li><a class="dropdown-item text-primary" href="login">Village Normal Areas Updation</a>
							</li>
							<li><a class="dropdown-item text-primary" href="employee">Employee Registration</a></li>
							<li><a class="dropdown-item text-primary" href="#">Contact Us</a></li>
						</ul>
					</li>
					<li class="nav-item" style="margin-left: 85px;"></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white" href="#" id="transactionDropdown"
							data-bs-toggle="dropdown">
							Transaction
						</a>
						<ul class="dropdown-menu" aria-labelledby="transactionDropdown">
							<li><a class="dropdown-item text-primary" href="home">Home</a></li>
							<li><a class="dropdown-item text-primary" href="login">Login</a></li>
							<li><a class="dropdown-item text-primary" href="#">About Us</a></li>
							<li><a class="dropdown-item text-primary" href="#">Contact Us</a></li>
						</ul>
					</li>
					<li class="nav-item" style="margin-left: 85px;"></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white" href="#" id="reportsDropdown"
							data-bs-toggle="dropdown">
							Reports
						</a>
						<ul class="dropdown-menu" aria-labelledby="reportsDropdown">
							<li><a class="dropdown-item text-primary" href="home">Home</a></li>
							<li><a class="dropdown-item text-primary" href="login">Login</a></li>
							<li><a class="dropdown-item text-primary" href="#">About Us</a></li>
							<li><a class="dropdown-item text-primary" href="#">Contact Us</a></li>
						</ul>
					</li>
					<li class="nav-item" style="margin-left: 85px;"></li>
					<li class="nav-item">
						<a class="nav-link text-white" href="logout">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>	
	<div class="container-fluid header-design-login">
    <div class="row justify-content-center align-items-center" style="height: 10vh;">
    <div class="webland-container">
            <form action="/webland" method="get">
                <div class="mb-3">
                    <select name="crop" class="form-select" aria-label="Crop Year">
                        <option value="" disabled selected>Crop Year</option>
                        <option value="1">Kharif-2023</option>
                        <option value="2">Rabbi-2023</option>
                        <option value="3">Summer-2023</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select name="village" class="form-select" aria-label="Select Village">
                        <option value="" disabled selected>Select Village</option>
                        <option value="1">Veleru</option>
                        <option value="2">Telaprolu</option>
                        <option value="3">Veeravalli</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Download</button>
            </form>
        </div>
    </div>
 </div> 
</body>

</html>