/* 
    Document   : tablegrid
    Created on : Dec 7, 2014, 4:16:39 PM
    Author     : moin
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
        font-size: medium;
}
table.gridtable tr {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
        font-size: medium;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
        font-size:12px;
        
      /*  font-family: 'Calibri';
        border-width: 1px;
 padding: 5px;
 font-size:16px;
 border-left: 1px solid #808080;
 border-right: 1px solid #808080;*/
}


/*
table.gridtable
{
 border:none;
 border-collapse: collapse;
 border-spacing:0px;
 padding:0px;
 width:100%;
 font-family: Calibri;
 

 
 
}

table.gridtable th
{
 font-family:Calibri;
 font-weight:bold;
 color:white;
 background-color:#1E8BC3;
 opacity:0.8;
 text-align:center;
 height:30px;
 font-size:17px;
 font-weight:lighter;
 padding:10px 17px;
 border-left: 1px solid #87afc7;
 border-right: 1px solid #87afc7;
 border-bottom: 1px solid #87afc7;
}

table.gridtable th:first-child
{
border-left: none;
}
table.gridtable th:last-child
{
border-right: none;
}

 
table.gridtable tr:nth-child(2n)
{
 background-color: #ececec;
}

table.gridtable td
{
    font-family: 'Calibri';
 padding: 5px;
 font-size:16px;
 border-left: 1px solid #808080;
 border-right: 1px solid #808080;
}

table.gridtable td a{
    text-decoration: underline;
    color:#2d19c5;
    font-weight: bolder;
    
}
table.gridtable td a:hover{
    text-decoration: underline;
    color:#2d19c5;
    font-weight: bolder;
    
}

table.gridtable td:first-child
{
border-left: none;
}
 
table.gridtable td:last-child
{
border-right: none;
}

table.gridtable tfoot{
    background-color:#1E8BC3 ;
    color:#ffffff;
    font-weight:bold;
    font-family: 'Calibri';
}

*/









